@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;
@use '../components/downloadbutton';
@use '../abstract/animations' as *;

.home{
 position: relative;
 @include pad;
 width: 100%;
 min-width: 300px;
 height: 100vh;
 
    .home__heading{
	 min-width: 300px;
	 font-style: normal;
	 font-weight: 700;
	 font-size: 64px;
	 line-height: 96px;
	 color: $primary;
	opacity: 0;
	 transition: all 1s linear;
	}
	
	.home__paragraph{
	 min-width: 300px;
	 font-style: normal;
	 font-weight: 400;
	 font-size: 20px;
	 line-height: 48px;
	 color: $primary;
	 opacity: 0;
	 transition: all 1s linear;
	}
	
	
}