@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;
@use '../abstract/animations' as *;

.services{
position: relative;
@include pad;
 width: 100%;
 min-width: 300px;
 background: $secondary-button;
 
    .services__heading{
	 font-style: normal;
	 font-weight: 500;
	 font-size: 32px;
	 line-height: 48px;
	 color: $primary;
     opacity: 0;
	 transition: all 1s linear;
	}
	
	.services__sub-heading{
	 font-style: normal;
	 font-weight: 500;
	 font-size: 64px;
	 line-height: 96px;
	 color: $primary;
     opacity: 0;
	 transition: all 1s linear;
	}
	
	.services__wrapper{
	 @include flex;
	 flex-wrap: wrap;
	 
	}
	.services__article{
	 display: inline-block;
	 width: 300px;
	 height: 300px;
	 padding: 20px;
	 margin-bottom: 20px;
	 background: $primary-button;
	 opacity: 0;
	 
	    i{
		 display: inline-block;
		 width: 50px;
		 font-size: 40px;
		 color: $primary;
		 
		}
		
		span{
		 display: block;
		 height: 40px;
		 font-weight: 600;
	     font-size: 14px;
	     line-height: 28px;
	     color: $primary;
		}
		p{
		 margin-top: 10px;
		 font-style: normal;
	     font-weight: 400;
	     font-size: 14px;
	     line-height: 28px;
	     color: $primary;
		}
		
		h4{
		 margin-top: 10px;
		 opacity: 0.5;
		 font-style: normal;
	     font-weight: 700;
	     font-size: 16px;
	     line-height: 28px;
	     color: $primary;
		}
		
	}
}