
.zoom-in-entrace{
 animation: zoomIn;
 animation-duration: 1.5s;
 animation-iteration-count: 1;
 opacity: 1 !important;
}

.fade-in-entrance{
 animation: fadeInLeft;
 animation-duration: 1s;
 animation-iteration-count: 1;
 opacity: 1 !important;
 }


