
/*--Fonts---*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
$font-family: 'Poppins', sans-serif;

/*---Colors---*/
$primary: rgb(255, 251, 229);
$secondary: rgb( 0, 8, 20);
$secondary-light: rgba( 0, 8, 20, 0.1);
$primary-button: rgb(222, 2, 2);
$secondary-button: rgb(0, 29, 61);
$accent: rgb(0, 53, 102);

